[submodule "src/external/raptor-dbw-ros2"]
	path = src/external/raptor-dbw-ros2
	url = git@github.com:NewEagleRaptor/raptor-dbw-ros2.git
[submodule "src/external/vesc"]
	path = src/external/vesc
	url = git@github.com:f1tenth/vesc.git
