[submodule "src/external/raptor-dbw-ros2"]
	path = src/external/raptor-dbw-ros2
	url = git@github.com:NewEagleRaptor/raptor-dbw-ros2.git
[submodule "src/external/vesc"]
	path = src/external/vesc
	url = git@github.com:f1tenth/vesc.git
[submodule "src/external/transport_drivers"]
	path = src/external/transport_drivers
	url = git@github.com:ros-drivers/transport_drivers.git
